

 @media only screen and (max-width: 940px) {
    .footer-box {
        display: flex;
        flex-direction: column;
    }

    .footer__legal {
        order: 2;
        text-align: center;
    }

    .social {
        order: 1;
    }


 }

 @media only screen and (max-width: 860px) {
    .footer-box {
        display: flex;
        flex-direction: column;
    }

    .footer__legal {
        order: 2;
        text-align: center;
    }

    .social {
        order: 1;
    } 

 }

 @media only screen and (max-width: 500px) {
  
    .view-box {
        display: none !important;
    }

    .paragraph {
        width: 90% !important;
    }

 }